* {
    margin: auto;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    width: 100%;
}

#main {
    background-color: #eeeeee;
    width: 98%;
    min-height: 200vh;
    margin: 3% 1%;
    top: 30px;
    left: 20px;
    padding: 2%;
    border-radius: 0.5%;
}

#title {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 40px;
    padding: 2%;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-style: normal;
}

#img-div {
    background-color: #fff;
    max-width: 98%;
    max-height: 150vh;
    text-align: center;
    margin: 20px 2px;
}

#image {
    width: 98%;
}

#img-caption {
    padding: 10px 10px;
}

#tribute-info {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 18.72px;
}

ul {
    width: 50%;
    margin-top: 20px;
    font-family: 'Segoe UI';
}


strong {
    font-family: 'Segoe UI';
    font-size: 17px;
    text-align: center;
    margin-left: 15%;
}

a {
    color: ##e4eeee;
}

@media(max-width: 700px) {
    ul {
        width: 100%;
    }

    strong {
        margin-left: 0px;
    }
}